#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

li{
  justify-content: center;
  align-items: center;
}

.delete{
  color: rgb(239 11 51 / 91%);
  font-weight: bold;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}

